<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let animal of animals.data">
      <mat-card class="mat-elevation-z4">
        <h4> {{ animal.name }} </h4>
        <img mat-card-image src="../../assets/Pets/{{animal.image}}">
        <mat-card-content>
          <!---->
          
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button mat-button class="btn-adopt" (click)="wacthAnimal(animal.id)"> May you adopt me please? </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
