.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

mat-card{
    text-align: center;
    background-color: #fae5df;
}

img{
    max-width: 100%;
    height: auto;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

h1{
    text-align: center;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
}

mat-card-actions{
    text-align: center;
}

.btn-adopt{
    background-color: #e0bfff;
}

